{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "project": "./tsconfig.json",
    "sourceType": "module"
  },
  "extends": [
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:@typescript-eslint/strict",
    "plugin:jsx-a11y/strict"
  ],
  "plugins": ["@typescript-eslint", "jsx-a11y"],
  "overrides": [
    {
      "files": [
        "src/app/**/page.tsx",
        "src/app/**/layout.tsx",
        "src/app/**/error.tsx",
        "src/app/**/loading.tsx",
        "src/app/**/not-found.tsx",
        "src/app/**/template.tsx",
        "src/app/**/default.tsx",
        "*.config.[tj]s",
        "*.scss.d.ts",
        "i18n.ts"
      ],
      "rules": {
        "import/no-default-export": "off"
      }
    },
    {
      "files": ["src/mocks/data/**/*.ts"],
      "rules": {
        "@typescript-eslint/unbound-method": "off"
      }
    }
  ],
  "rules": {
    "import/no-default-export": "error",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "sibling",
          "parent",
          "index",
          "object",
          "type"
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "warnOnUnassignedImports": true
      }
    ],
    "arrow-body-style": ["error", "always"],
    "@typescript-eslint/consistent-type-definitions": ["error", "type"],
    "comma-dangle": ["error", "only-multiline"],
    "curly": ["error", "all"],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_"
      }
    ],
    "react-hooks/exhaustive-deps": "error",
    "@typescript-eslint/no-misused-promises": "off"
  }
}