.yure {
  transform-origin: 0% 0%;
  animation: yureru 1s infinite alternate;

  @keyframes yureru {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(3deg);
    }
  }
}
